body{
  color: rgb(73, 73, 73);
  background-image: url("images/backgroundimg.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  font-family: "Rubik", "Helvetica", "sans-serif";
  align-content: center;
  margin-top: 50px;
}

h1{
  padding: auto;
}

p {
  font-size: 20px;
  margin-top: -20px;
}

#introduction{
height: 200px;
}

#about p {
  font-size: 18px;
}

#about h2 {
  margin-bottom: 40px;
}

.card-white {
  background-color: #e7e7e7c9;
  padding: 20px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 40px 0px;
  text-align: center;
}


.btn-orange {
  color: #ffffff;
  border: 1px solid #4A4A4A;
  background-color: orangered;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-orange:hover {
  background-color: whitesmoke;
  color: #4A4A4A;
}

a {
  color: orangered;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.container {
  width: 800px; /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}


img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}




.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: orangered;
  opacity: 0.6;
}
.list-inline i:hover {
  color: whitesmoke;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
